/* css browser reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}

@font-face {
    font-family: "Source-Sans-Pro";
    src: url(./fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse-Bold.otf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: "Source-Sans-Pro";
    background: linear-gradient(to right, rgb(255, 192, 203), rgba(129, 0, 129, 0.719));
    display: flex;
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100vw;
    height: 100vh;
}

/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
} */

#image-container {
    /* border: 2px dotted red; */
    background-image: url(img/sky.jpg);
    height: 100vh;
    min-height: 30vh;
    width: 40vw;
    min-width: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-logo {
    /* border: 2px dotted green; */
    font-family: norse;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    min-width: 100%;
    background: rgba(255, 255, 255, 0.247); 
    margin-top: 15rem;
}

#logo {
    height: 8rem;
    width: 8rem;
}

#photo-credit, a {
    /* border: 2px dotted white; */
    color: white;
    align-self: center;
    margin-top: auto;
}

#form-container {
    /* border: 2px dotted yellow; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 30vh;
    width: 60vw;
    min-width: 600px;
    color: white;
    font-size: 1.5rem;
}

#intro {
    /* border: 2px dotted red; */
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: end;
}

#intro > h1 {
    /* border: 2px dotted blue; */
    height: max(100px, 50%);
    width: 100%;
    min-width: 600px;
    margin: 30px 45px 55px 25px;
    font-size: clamp(0.5rem, 1.5rem, 2rem);
    /* width: clamp(45ch, 50%, 75ch); */
}

#form {
    height: 40vh;
    min-height: 350px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    box-shadow: 5px 0px 30px 0.5px rgba(0, 0, 0, 0.767);
}

#form-controls-left, #form-controls-right {
    /* border: 2px dotted black; */
    padding: 75px 0px 0px 25px;
    width: 44%;
    min-width: 375px;
    height: 100%;
}

#form-controls-right {
    margin-top: 14px;
}

#form-controls-left > h1 {
    font-size: 30px;
}

label {
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}

input {
    height: 2rem;
    width: 25rem;
    border: none;
    border-radius: 5px;
    outline: 0px; 
    margin: 0px;
    font-size: 1.25rem;
    padding-left: 10px;
}

input:focus {
    transition: all ease-in-out 0.2s;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.568);
}


input:not(:focus) {
    border: none !important; 
}

input:required:valid { 
    border: 3px solid rgb(37, 230, 37);
}

input:required:invalid {
    border: 3px solid rgb(252, 10, 10);
}

#submission {
    /* border: 2px dotted white; */
    height: var(--height);
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
}

#create-account {
    /* border: 2px dotted cyan; */
    margin: 55px 0px 0px 25px;
}

button {
    font-size: x-large;
    height: 3rem;
    width: 13rem;
    color: white;
    background: rgb(167, 75, 166);
    border: 3px solid rgb(167, 75, 166);
    border-radius: 15px;
    margin-bottom: 18px;
    transition: all ease-in-out 0.2s;
}

button:hover {
    cursor: pointer;
    border: 3px solid rgb(167, 75, 166);
    background: white;
    color: rgb(167, 75, 166);
    transform: translateY(-5px);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.568);
}

#create-account > p {
    font-size: 1.25rem;
}